/* .history {
    display: flex;
    justify-content: space-between;
} */


/*
.dnger {
    background-color: red;
    height: 32px;
    display: inline-block;
    width: 3px;
    position: absolute;
    top: 303px;
    right: 458px;
} */